html {
    box-sizing: border-box;

    font-family: 'PT Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.page {
    position: relative;

    background-color: #fafafa;

    font-size: 14px;
}

.page--theme-live {
    background-color: #000;
}

.page__overlay {
    display: none;
}

.page--theme-live .page__overlay {
    display: block;
}

.page--theme-live .page__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.page--theme-cc_tree .page__overlay {
    display: block;
}

.page--theme-cc_tree .page__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.page--theme-red_cross .page__overlay {
    display: block !important;
}

.header {
    display: flex;
    flex-direction: column;

    max-width: 966px;
    height: auto;
    margin: 0 auto;
    padding: 36px 0;

    border: 1px solid #edeeee;
    border-bottom-width: 0;
    background-color: #fff;

    align-items: center;
}

.header--theme-live {
    flex-direction: row;

    max-width: none;
    height: 50px;
    padding: 0 2rem;

    border-width: 1px;

    justify-content: space-between;
}

.gallery--theme-red_cross {
    height: 571px;
    width: 720px;
    position: relative;
    z-index: 9;
    padding: 0 !important;
    background-image: url(../images/red_cross_map.png);
    background-size: contain;
}

.gallery__map_point_Sydney {
    left: 543px;
    top: 374px;
}

.gallery__map_point_Melbourne {
    left: 475px;
    top: 425px;
}

.gallery__map_point_Brisbane {
    left: 564px;
    top: 295px;
}

.gallery__map_point_Perth {
    left: 172px;
    top: 353px;
}

.gallery__map_point_Adelaide {
    left: 410px;
    top: 390px;
}

.gallery__map_point_ACT {
    left: 357px;
    top: 180px;
}

.gallery__map_point_NSW {
    left: 480px;
    top: 371px;
}

.gallery__map_point_QLD {
    left: 489px;
    top: 248px;
}

.gallery__map_point_SA {
    left: 370px;
    top: 330px;
}

.gallery__map_point_TAS {
    left: 490px;
    top: 475px;
}

.gallery__map_point_VIC {
    left: 476px;
    top: 423px;
}

.gallery__map_point_WA {
    left: 217px;
    top: 330px;
}

.gallery__map_centered_text {
    position: absolute;
    bottom: 34px;
    margin: auto;
    width: 100%;
    z-index: 10000;
}

.gallery__map_centered_text__grey {
    text-align: center;
    color: #666666;
    font-size: 16px;
}

.gallery__map_centered_text__red {
    text-align: center;
    color: #ec1d25;
    font-size: 50px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.overlay--leave .overlay__image--ACT {
    left: 357px;
    top: 180px;
}

.overlay--leave .overlay__image--NSW {
    left: 480px;
    top: 371px;
}

.overlay--leave .overlay__image--QLD {
    left: 489px;
    top: 248px;
}

.overlay--leave .overlay__image--SA {
    left: 370px;
    top: 330px;
}

.overlay--leave .overlay__image--TAS {
    left: 490px;
    top: 475px;
}

.overlay--leave .overlay__image--VIC {
    left: 476px;
    top: 423px;
}

.overlay--leave .overlay__image--WA {
    left: 217px;
    top: 330px;
}

.overlay-red_cross {
    height: 571px;
    width: 720px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -360px;
}

@media (min-width: 200px)  and (max-width: 720px) {
    .gallery--theme-red_cross {
        height: 270px;
        width: 300px;
    }

    .overlay-red_cross {
        height: 270px;
        width: 300px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -150px;
    }

    .gallery__map_centered_text {
        bottom: 13px;
    }

    .gallery__map_centered_text__grey {
        text-align: center;
        color: #666666;
        font-size: 13px;
    }

    .gallery__map_centered_text__red {
        font-size: 26px;
    }

    .gallery__map_point_ACT {
        left: 145px;
        top: 75px;
    }

    .gallery__map_point_NSW {
        left: 203px;
        top: 151px;
    }

    .gallery__map_point_QLD {
        left: 195px;
        top: 110px;
    }

    .gallery__map_point_SA {
        left: 155px;
        top: 133px;
    }

    .gallery__map_point_TAS {
        left: 203px;
        top: 199px;
    }

    .gallery__map_point_VIC {
        left: 197px;
        top: 173px;
    }

    .gallery__map_point_WA {
        left: 90px;
        top: 130px;
    }

    /*.overlay--leave .overlay__image--ACT {*/
    /*left: 145px;*/
    /*top: 75px;*/
    /*}*/
    /*.overlay--leave .overlay__image--NSW {*/
    /*left: 203px;*/
    /*top: 151px;*/
    /*}*/
    /*.overlay--leave .overlay__image--QLD {*/
    /*left: 195px;*/
    /*top: 110px;*/
    /*}*/
    /*.overlay--leave .overlay__image--SA {*/
    /*left: 155px;*/
    /*top: 133px;*/
    /*}*/
    /*.overlay--leave .overlay__image--TAS {*/
    /*left: 203px;*/
    /*top: 199px;*/
    /*}*/
    /*.overlay--leave .overlay__image--VIC {*/
    /*left: 197px;*/
    /*top: 173px;*/
    /*}*/
    /*.overlay--leave .overlay__image--WA {*/
    /*left: 90px;*/
    /*top: 130px;*/
    /*}*/
}

.shaking {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.gallery__map_point {
    background-color: rgba(236, 29, 37, 0.5);
    border-radius: 200px;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
}

.gallery--theme-cc_tree, .gallery--theme-cc_tree720 {
    height: 960px;
    width: 720px;
    position: relative;
    z-index: 9;
    padding: 0 !important;
    background-image: url(../images/tree_of_hope_720x960.png);
}

.gallery.gallery--theme-cc_tree1440 {
    max-width: 1440px;
}

.gallery--theme-cc_tree1440 {
    height: 1920px;
    width: 1440px;
    position: relative;
    z-index: 9;
    padding: 0 !important;
    background-image: url(../images/tree_of_hope_1440x1920.png);
}

.gallery--theme-cc_tree .gallery__item {
    width: 74px;
    height: 74px;
    position: absolute;
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+1) {
    /*left: 432px;
    //top: 181px;*/
    left: 345px;
    top: 161px;

}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+2) {
    left: 231px;
    top: 241px;
    /*left: 303px;
    top: 272px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+3) {
    left: 398px;
    top: 265px;
    /*left: 491px;
    top: 298px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+4) {
    left: 137px;
    top: 378px;
    /*left: 195px;
    top: 425px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+5) {
    left: 263px;
    top: 358px;
    /*left: 339px;
    top: 403px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+6) {
    left: 405px;
    top: 374px;
    /*left: 500px;
    top: 420px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+7) {
    left: 136px;
    top: 497px;
    /*left: 195px;
    top: 558px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+8) {
    left: 297px;
    top: 498px;
    /*left: 378px;
    top: 560px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+9) {
    left: 394px;
    top: 540px;
    /*left: 486px;
    top: 607px;*/

}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+10) {
    left: 499px;
    top: 503px;
    /*left: 607px;
    top: 566px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+11) {
    left: 103px;
    top: 591px;
    /*left: 158px;
    top: 665px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+12) {
    left: 242px;
    top: 591px;
    /*left: 316px;
    top: 665px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+13) {
    left: 403px;
    top: 654px;
    /*left: 504px;
    top: 735px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+14) {
    left: 548px;
    top: 635px;
    /*left: 652px;
    top: 747px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+15) {
    left: 26px;
    top: 752px;
    /*left: 71px;
    top: 846px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+16) {
    left: 133px;
    top: 697px;
    /*left: 191px;
    top: 785px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+17) {
    left: 136px;
    top: 812px;
    /*left: 194px;
    top: 915px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+18) {
    left: 271px;
    top: 722px;
    /*left: 348px;
    top: 812px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+19) {
    left: 383px;
    top: 764px;
    /*left: 478px;
    top: 861px;*/
}

.gallery--theme-cc_tree .gallery__item:nth-child(20n+20) {
    left: 497px;
    top: 739px;
    /*left: 622px;
    top: 894px;*/
}

.gallery--theme-cc_tree1440 .gallery__item {
    width: 147px;
    height: 147px;
    position: absolute;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+1) {
    left: 707px;
    top: 339px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+2) {
    left: 479px;
    top: 500px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+3) {
    left: 813px;
    top: 548px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+4) {
    left: 291px;
    top: 774px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+5) {
    left: 543px;
    top: 733px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+6) {
    left: 827px;
    top: 765px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+7) {
    left: 291px;
    top: 1010px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+8) {
    left: 610px;
    top: 1014px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+9) {
    left: 804px;
    top: 1098px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+10) {
    left: 1016px;
    top: 1023px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+11) {
    left: 224px;
    top: 1199px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+12) {
    left: 502px;
    top: 1199px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+13) {
    left: 823px;
    top: 1325px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+14) {
    left: 1114px;
    top: 1287px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+15) {
    left: 70px;
    top: 1521px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+16) {
    left: 283px;
    top: 1411px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+17) {
    left: 289px;
    top: 1643px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+18) {
    left: 558px;
    top: 1461px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+19) {
    left: 782px;
    top: 1544px;
}

.gallery--theme-cc_tree1440 .gallery__item:nth-child(20n+20) {
    left: 1012px;
    top: 1496px;
}

.header__logo {
    height: auto;
    max-width: 800px;
}

.header--theme-live .header__logo {
    height: 40px;
}

.header__title {
    margin: 72px 0 18px;

    font-size: 45px;
    font-weight: 700;
}

.header--theme-live .header__title {
    margin: 0;

    font-size: 15px;
}

.header__tagline {
    color: #444;

    font-size: 21px;
    font-weight: 700;
}

.header--theme-live .header__tagline {
    display: none;
}

.share {
    display: flex;

    max-width: 966px;
    margin: 0 auto;
    padding: 8px 0;

    color: #999;
    border: 1px #edeeee solid;
    background-color: #fff;

    font-size: 16px;

    flex-wrap: wrap;
    justify-content: center;
}

.share--theme-live {
    display: none;
}

.share__item--title {
    line-height: 38px;
}

.share__item {
    display: inline-block;

    width: 38px;
    height: 38px;
    margin: 14px;
}

.share__item--fb {
    background: url(../images/publisher/fb.png);
}

.share__item--fb_save {
    background: url(../images/publisher/fb.png);
}

.share__item--pinterest {
    background: url(../images/publisher/pinterest.png);
}

.share__item--twitter {
    background: url(../images/publisher/twitter.png);
}

.share__item--download {
    background: url(../images/publisher/download.png);
}

.share__item--link {
    background: url(../images/publisher/link.png);
}

.share__item--embed {
    background: url(../images/publisher/embed.png);
}

.share__item--vk {
    background: url(../images/publisher/vk.png);
}

.share__item--linkedin {
    background: url(../images/publisher/linkedin.png);
}

.share__item--odnoklassniki {
    background: url(../images/publisher/odnoklassniki.png);
}

.share__item--instagram-video {
    background: url(../images/publisher/instagram.png);
}

.share__item--email {
    background: url(../images/publisher/email.png);
}

.gallery {
    display: flex;

    box-sizing: border-box;
    max-width: 966px;
    margin: 0 auto;
    padding: 1rem;

    border: 1px #edeeee solid;
    border-top: none;
    background-color: #ffffff;

    flex-wrap: wrap;
}

.gallery--theme-live {
    max-width: none;
    background-color: transparent;

    border: none;
}

.gallery__item {
    position: relative;

    width: calc((100% / 3) - 2rem);
    margin: 1rem;

    transition: all 0.5s 0.1s cubic-bezier(0.86, 0, 0.07, 1);
    transform: translateX(0);

    opacity: 1;
}

.gallery--theme-live .gallery__item {
    width: calc((100% / 6) - 2rem);
}

/* the trick for 1:1 ratio between height and width */

.gallery__item::before {
    display: block;

    padding-top: 100%;

    content: "";
}

.gallery__item--new {
    width: 0;
    margin: 0;

    opacity: 0;
}

.gallery--theme-live .gallery__item--new {
    height: calc((100% / 6) - 2rem);
    margin-right: calc((-100% / 6) + 2rem);
    margin-left: 0;

    transform: translateX(-150%);
}

.gallery--theme-red_cross .gallery__item {
    display: none !important;
}

.gallery__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.footer {
    padding: 36px 42px;

    max-width: 966px;
    margin: 0 auto;

    text-align: center;
}

.footer--theme-default {
    background-color: #ffffff;
}

.footer--theme-live {
    display: none;
}

.footer--theme-cc_tree {
    display: none;
}

.logo {
    display: inline-block;

    margin-top: 20px;
}

.link {
    color: #666;
}

.link--small {
    font-size: 12px;
}

.link:hover {
    color: #333;
}

.pulse {
    display: block;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(236, 29, 37, 0.6);
    animation: pulse 2s infinite;
}

.pulse-path {
    -webkit-filter: drop-shadow(0 0 0 rgba(236, 29, 37, 0.6));
    filter: drop-shadow(0 0 0 rgba(236, 29, 37, 0.6));
    animation: pulse-path 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(236, 29, 37, 0.6);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(236, 29, 37, 0.6);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(236, 29, 37, 0.6);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(236, 29, 37, 0.6);
        box-shadow: 0 0 0 0 rgba(236, 29, 37, 0.6);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.overlay {
    visibility: visible;

    transition: background-color 0.3s 0.1s ease-in;

    background-color: #fff;
    background-color: rgba(255, 255, 255, 0);
}

.overlay--enter {
    visibility: hidden;
}

.overlay--show {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
}

.overlay--leave {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0);
}

.overlay__card {
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.overlay__meta {
    padding: 10px;
    text-align: center;
}

.overlay__meta a {
    color: rgba(236, 29, 37, 0.6);
    text-decoration: none;
}

.overlay__meta.hidden {
    display: none;
}

.overlay__meta__name {
    text-transform: capitalize;
}

.overlay__meta__city {
    text-transform: capitalize;
}

.overlay__card {
    position: fixed;
    top: 50%;
    left: 50%;

    pointer-events: none;
    -webkit-user-drag: none;

    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.overlay__card-red_cross {
    z-index: 1000;
    position: absolute !important;
}

.overlay--enter .overlay__card {
    transform: translate(200%, -50%);
}

.overlay--show .overlay__card {
    transform: translate(-50%, -50%);
}

.overlay--leave .overlay__card {
    transform: translate(-300%, -50%);
}

.overlay--leave .overlay__card-red_cross {
    transform: scale(.05);
    transform-origin: 0 0;
}

.overlay__image {
    display: block;
}

.tooltip {
    position: fixed;
    z-index: 1001;
    top: 50%;
    left: 50%;

    display: inline-block;
    visibility: hidden;

    margin: auto;
    padding: 8px 28px;

    transform: translate(-50%, -50%);
    text-align: center;

    color: #fff;
    border-radius: 6px;
    background: #000;
    background: rgba(0, 0, 0, 0.8);
}

.textarea {
    display: block;
    overflow: auto;

    box-sizing: border-box;
    width: 100%;
    max-width: 352px;
    min-height: 60px;
    margin-right: 10px;
    padding: 6px 12px;

    resize: none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

    border: 1px #ccc solid;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.copy-code {
    display: inline-block;

    margin-top: 10px;
    margin-bottom: 0;
    padding: 6px 12px;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff none;

    font-weight: normal;
    line-height: 1.428571429;
}

.copy-code:hover {
    background-color: #ddd;
}

.modal-header {
    color: #444;

    font-size: 21px;
    font-weight: 700;
    line-height: normal;
}

.header--theme-cc_tree, .header--theme-red_cross, .share--theme-cc_tree, .share--theme-red_cross, .footer--theme-red_cross {
    display: none;
}