.page {
    background-color: #FFFFFF;
}

#map {
    background-color: #D5F0F8;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*opacity: 0.5;*/
}

#map .animated-icon {
    background-color: rgba(236,29,37,0.6);
    border-radius: 100%;
    color: white;
    line-height: 200%;
    font-size: 9px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}